
<div class="lateralInfo">
    <p class="desactivar">
        <svg
        width="10"
        className=""
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
        >
        <path
            d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"
        />
        </svg>
    </p>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
            >
            Opciones
            </button>
        </h2>
        <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
        >
            <div class="accordion-body">
            <ul class="acordionUl" id="accordionPersona">
                <li>
                    <h2 class="accordion-header" id="flush-headclientes">
                        <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-clientes"
                        aria-expanded="false"
                        aria-controls="flush-clientes"
                        >
                        Clientes
                        </button>
                    </h2>
                    <div
                        id="flush-clientes"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headclientes"
                        data-bs-parent="#accordionPersona">
                        <div class="accordion-body"><a href="/clientes">Clientes</a><a href="/cuentas">Cuentas</a></div>
                    </div>
                    </li>
                <li>
                <h2 class="accordion-header" id="flush-headtarjetas">
                    <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-tarjetas"
                    aria-expanded="false"
                    aria-controls="flush-tarjetas"
                    >
                    Tarjetas
                    </button>
                </h2>
                <div
                    id="flush-tarjetas"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headtarjetas"
                    data-bs-parent="#accordionPersona"
                >
                    <div class="accordion-body">
                    <a href="/tarjetas">Tarjetas de Crédito</a>
                    </div>
                </div>
                </li>
                <li>
                <h2 class="accordion-header" id="flush-headprestamos">
                    <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-prestamos"
                    aria-expanded="false"
                    aria-controls="flush-prestamos"
                    >
                    Préstamos
                    </button>
                </h2>
                <div
                    id="flush-prestamos"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headprestamos"
                    data-bs-parent="#accordionPersona"
                >
                    <div class="accordion-body">
                    <a href="/prestamos">Préstamos en efectivo</a>
                    </div>
                </div>
                </li>
                <li>
                <h2 class="accordion-header" id="flush-headInversiones">
                    <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-Inversiones"
                    aria-expanded="false"
                    aria-controls="flush-Inversiones"
                    >
                    Servicios
                    </button>
                </h2>
                <div
                    id="flush-Inversiones"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headInversiones"
                    data-bs-parent="#accordionPersona"
                >
                    <div class="accordion-body"><a href="/calculadora">Calculadora</a><a href="/dolarHoy">Dolar Hoy</a></div>
                </div>
                </li>
                <li>
                <h2 class="accordion-header" id="flush-headSeguros">
                    <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-Seguros"
                    aria-expanded="false"
                    aria-controls="flush-Seguros"
                    >
                    Seguros
                    </button>
                </h2>
                <div
                    id="flush-Seguros"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headSeguros"
                    data-bs-parent="#accordionPersona"
                >
                <div class="accordion-body">
                    <a href="/seguros">Seguros</a>
                </div>
                </li>
                <li>
                    <h2 class="accordion-header" id="flush-headConsultas">
                        <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-Consultas"
                        aria-expanded="false"
                        aria-controls="flush-Consultas"
                        >
                        Consultas
                        </button>
                    </h2>
                    <div
                        id="flush-Consultas"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headConsultas"
                        data-bs-parent="#accordionPersona"
                    >
                        <div class="accordion-body"><a href="/atCliente">Atencion al Cliente</a></div>
                    </div>
                    </li>
            </ul>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
