{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="icon" href="{% static 'image/IB-icon.png'%}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
    <title>ITBANK - Dolar Hoy</title>
  </head>

  <body>
    {% include "header.html" %}
    
    <div class="container-table">
      <table class="styled-table">
        <thead>
          <tr>
            <th></th>
            <th class="table-derecha">Compra</th>
            <th class="table-derecha">Venta</th>
          </tr>
        </thead>
        <tbody id="bodyDivisa"></tbody>
      </table>

      <div class="convertContainer">
        <h2 class="titulo-input">Conversor en tiempo real</h2>
        <div class="convert">
          <div class="spanDivisas">
            <span>ARS $</span>
          </div>
          <input
            class="inputDivisas"
            id="inputPeso"
            type="number"
            placeholder="0,00"
            value=""
          />
        </div>

        <div class="convert">
          <div class="spanDivisas">
            <span>USD $</span>
          </div>
          <input
            class="inputDivisas"
            id="inputDolar"
            type="number"
            placeholder="0,00"
            value=""
          />
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="icono">
        <a href="#"><img src="../static/image/instagram.png" alt="instagram" /></a>
        <a href="#"><img src="../static/image/facebook.png" alt="facebook" /></a>
        <a href="#"><img src="../static/image/gorjeo.png" alt="twiter" /></a>
        <a href="#"><img src="../static/image/linkedin.png" alt="linkedin" /></a>
      </div>
      <a href="/"
        ><img class="itba-img" src="../static/image/itbank.png" alt=""
      /></a>
      <div>
        © 2022 Banco ITBANK S.A. <br />
        Todos los derechos Reservados.
      </div>
    </footer>
    {% include "login.html" %} {% include "register.html" %} 
    {% block barra %}{% include "barraLateral.html" %} {%endblock %}
    <script src="../static/js/app.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>