<div class="popUp-container">
  <div class="popUp popUp-close">
    <p class="close">X</p>
    <form class="formulario" action="" method="POST">
      {% csrf_token %}
      <legend>Iniciar Sesión</legend>
      <div class="contenedor-de-cmapos">
        <div class="campo">{{form.dni}}</div>
        <div class="campo">{{form.password}}</div>
      </div>
      <div class="enviar">
        <button class="btn" name="login">Login</button>
      </div>
      {% comment %} <p>¿Olvidaste tu Contraseña?</p> {% endcomment %}
      {% comment %} <p>Register</p> {% endcomment %}
    </form>
  </div>
</div>
